ODFAEG2/cmake-build-debug/
ODFAEG2/cmake-build-release/
ODFAEG2/out/
ODFAEG2/.vs/
TestODFAEG2/cmake-build-debug/
TestODFAEG2/cmake-build-release/
TestODFAEG2/out/
TestODFAEG2/.vs/
TestODFAEG2/Bistro/
TestODFAEG2/Porche/

